<section class="todoapp">
  <header class="header">
    <h1>Todos</h1>
    <form
      action=""
      id="todo-form"
      (ngSubmit)="addTodo()">
      <!-- TODO: remove autocomplete -->
      <input
        class="new-todo"
        autocomplete="off"
        placeholder="What needs to be done?"
        name="todoText"
        [(ngModel)]="todoText">
    </form>
  </header>
  <section class="main">
    <input class="toggle-all" type="checkbox">
    <ul class="todo-list">
      <li *ngFor="let item of store.todoItems; let num = index">
        <div class="view">
          <input class="toggle" (click)="toggleStatus(item)" type="checkbox" id="item-{{ num }}" [checked]="item.completed">
          <label for="item-{{ num }}">{{ item.title }}</label>
          <button class="destroy" (click)="remove(item)"></button>
        </div>
      </li>
    </ul>
  </section>
  <footer id="footer" *ngIf="store.todoItems.length > 0" class="">
    <span class="todo-count"><strong class="ng-binding">{{ store.getRemaining().length }}</strong>
      <span>{{store.getRemaining().length === 1 ? 'item' : 'items'}} left</span>
    </span>
    <ul class="filters">
      <li>
        <a href="#/" class="selected">All</a>
      </li>
      <li>
        <a href="#/active">Active</a>
      </li>
      <li>
        <a href="#/completed">Completed</a>
      </li>
    </ul>
    <button class="clear-completed">Clear completed</button>
  </footer>
</section>
